table, th, td {
	border:1px solid black;
      }

button {
	width: 150px;
}

input {
	width: 50px;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#timer {
	font-size: 10rem;
}